/*web page background
we have used bg size : cover bcoz while decreasing page size it never decrease*/

body{
  width:100%;
}

body  {
	
	background-image: url("images/ADMIN_2.jpg");
	background-size: cover ;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
 } 
/* for header admsion 2021 */ 
ul  {
    
	display: block;
	margin: 8px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f00;
    text-align: center;
    background-color:  #c58c85;
   word-spacing: 0.5em;
   letter-spacing: 0.1em;
    
    
}
/*logo of the page ,setting color*/

h1 {
	
	display: block;
	margin: 8px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: ##f00;
    text-align: center;
    background-color: #9e1c3f;
    
 }
 marquee{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    font-weight: bold;
 
}

/*for application table */

table {
	color: white; 
	background-color: #2d85b0;
	border-collapse: collapse; 
	font-size: 20px; 
	font-family: serif; 
	padding: 5px; 
	border: 5px solid white; 
	text-align: -webkit-center
	}

/*{New Admission? Apply Online} line color font}*/
th{
	font-family:Georgia, Arial and Helvetica;
	font-size: 22px;
	letter-spacing: 0.2em;
	padding: 5px;


}

h4 {
	letter-spacing: 0.2em;
	font-family: Georgia, Arial and Helvetica;
}




#thanks{
  text-align: center;
  font-size:45px;
  font-weight: bold;
  background-color: lightgrey;
  width: 300px;
  height:100px solid green;
  margin-left:42% ;
  
}

#back{
  margin-left:42% ;
  font-size: 30px;
  background-color:lightcyan;
  width:541px;
 text-align: center;
 margin-right:70%;
 margin-left: 35%;
}

#button{
   margin: 0;
  position: absolute;
  margin-left: 44%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 25px;
  width: auto;
}
 #footer{
  position: relative;
  left: 0;
  bottom: 0%;
  margin-bottom: 1%;
  height: FOOTER_HEIGHT;
  width: 100%;
  background-color: lightseagreen;
  color: white;
  text-align: center;
}
/*

 <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">MY website</div>
         <p>I have created the Registration of college admission portal using  HTML,
         CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
       </div>
       <div class="middle">
         <div class="topic">Contact us</div>
         <div class="phone">
           <a href="#"><i class="fas fa-phone-volume"></i>+91 9573712535</a>
         </div>
         <div class="email">
           <a href="#"><i class="fas fa-envelope"></i>Jagadeeshpj2001@gmail.com</a>
         </div>
       </div>
     </div>
     
     <div class="right box">
         <div class="media-icons">
           <a href="https://www.instagram.com/jagadeesh2001/"><i class="fab fa-instagram"></i></a>
           <a href="https://www.linkedin.com/in/p-jagadeesh-22923b18b"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   <div class="bottom">
     <p>Copyright © 2020  All rights reserved</p>
   </div>
 </footer>

    </body>
</html>



<script>
        function takevalue()
        {
            var fname=document.getElementById("fname").value;
            var lname=document.getElementById("lname").value;
            var email=document.getElementById("mail").value;
            var pwd=document.getElementById("pwd").value;
            var repwd=document.getElementById("repwd").value;
            var dob=document.getElementById("dob").value;
            var number=document.getElementById("no").value;
            var gender=document.getElementById("gender").value;
            var address=document.getElementById("ad").value;
            var state=document.getElementById("state").value;
            var city=document.getElementById("city").value;
            var country=document.getElementById("country").value;
            var code=document.getElementById("code").value;
            var course=document.getElementById("course").value;
            document.write("YOUR INFO : <BR>"+"FIRST NAME : "+fname+"<br>");
            document.write("SECOND NAME : "+lname+"<br>");
            document.write("EMAIL : "+email+"<br>");
            document.write("PASSWORD : "+pwd+"<br>");
            document.write("re-password : "+repwd+"<br>");
            document.write("DOB : "+dob+"<br>");
            document.write("PHONE NUMBER : "+number+"<br>");
            document.write("GENDER : "+gender+"<br>");
            document.write("ADDRESS : "+address+"<br>");
            document.write("STATE : "+state+"<br>");
            document.write("CITY : "+city+"<br>");
            document.write("COUNTRY : "+country+"<br>");
            document.write("CODE : "+code+"<br>");
            document.write(" COURSE: "+course+"<br>");
           

           

        }
        </script> 
    

*/
